*{
    margin:0;
    padding:0;
}
body,
html{
    color: white;
    font-family:'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body{
    background-image: url("images/dv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*----page Editor Image----*/
.center .avatar img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;
    object-fit: cover;
    object-position: 0 0;

}
.center{
    padding:50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 89vh;
    text-align: center;
    border-radius:5px ;
}
.content{
    padding:30px;
}
h1{
    color:wheat;

}
.content h2,p{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 100%;
    margin: 10px auto;
}
.content h2{
    font-weight: 400;
}
.content h3{
    margin-top: 20px;
}

/*----Navigation bar----*/
nav{
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    background:#5c0101;
    line-height:30px;
    width: 100%;
    text-align: right;
    position: fixed;
    z-index: 1;
}
nav .nav-item{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    transition: all 0.3s ease;
}
nav .nav-item:hover{
    background: #D6C3B3;
    color: black;

}
nav .nav-item.active{
    background: #000000;
    color: white;
}

nav img{
    margin: 8px 8px 8px 30px;
    height: 42px;
    float: left;
    border-radius:10PX;
}
